@import "src/styles/mixins";
@import "src/styles/variables";

.button {
    border-radius: $border-radius;
    background-color: $second-color;
    padding: 8px $gutter;
    color: $text-light;
    font-size: 15px;
    font-family: $open-sans;
    outline: none;
    appearance: none;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    &:focus,
    &:hover {
        background-color: #0069d9;
        border-color: #0062cc;
        color: $text-light;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    &--secondary {
        background-color: #6c757d;
        border-color: #6c757d;

        &:hover {
            background-color: #5a6268;
            border-color: #545b62;
            color: $text-light;
        }
    }

    &--small {
        padding: 5px 12px;
    }
}
