input[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

    &::before {
        position: absolute;
        content: '';
        display: block;
        top: 2px;
        left: 7px;
        width: 8px;
        height: 14px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }

    &:checked {
        color: #ffffff;
        border-color: $second-color;
        background: $second-color;

        &::before {
            opacity: 1;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $gutter * 2;

    &__form {
        width: 80%;
    }

    &__title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    &__group {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: $gutter + 5;
    }

    &__error {
        margin-top: $gutter / 3;
        font-size: 14px;
        color: #f44336;
    }

    &__link {
        display: block;
        text-align: center;
        font-size: 13px;
        margin-top: 10px;
        font-weight: 500;
    }
}

input {
    font-size: 16px;
    padding: 20px 0;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    background: #fff;
    width: 280px;
    box-sizing: border-box;
    transition: all .3s linear;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;

    &:focus {
        border-bottom: solid 1px $second-color;
        outline: 0;
        box-shadow: 0 2px 6px -8px $second-color;
    }
}

.floating-label {
    position: relative;
    margin-bottom: 10px;
    width: 100%;

    &.has-error input{
        border-bottom-color: #f44336;
    }

    label {
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        opacity: 0;
        font-size: 14px;
        transition: all .3s ease;
    }

    input {
        width: 100%;
        margin-left: auto;
        display: flex;
    }

    input:not(:placeholder-shown) {
        padding-top: 28px;
        padding-bottom: 0;
    }

    input:not(:placeholder-shown) + label {
        transform: translateY(-10px);
        opacity: 1;
        color: $second-color;
    }

    input:not(:valid):not(:focus) + label + .icon {
        animation-name: shake-shake;
        animation-duration: .3s;
    }
}

$displacement: 3px;
@keyframes shake-shake {
    0% {
        transform: translateX(-$displacement);
    }
    20% {
        transform: translateX($displacement);
    }
    40% {
        transform: translateX(-$displacement);
    }
    60% {
        transform: translateX($displacement);
    }
    80% {
        transform: translateX(-$displacement);
    }
    100% {
        transform: translateX(0px);
    }
}
