.mb-5 {
    margin-bottom: 5px;
}

.mr-20 {
    margin-right: $gutter;
}

.ml-20 {
    margin-left: $gutter;
}

.mr-10 {
    margin-right: $gutter / 2;
}

.ml-10 {
    margin-left: $gutter / 2;
}

.mt-20 {
    margin-top: $gutter;
}

.pr-20 {
    padding-right: $gutter;
}

.pl-20 {
    padding-left: $gutter;
}
