<div class="chat flex">
    <div class="chat__window">
        asdasd
        asd
        asd
    </div>

    <div class="chat__footer">
        <input type="text" class="chat__input" placeholder="Type here....">
    </div>
</div>
