.layout {
    height: 100%;
}

.sidebar {
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    flex: 0 1 320px;
    align-items: stretch;
}

.chat {
    padding: 20px;
    width: 100%;
}
