@import "global";

.header {
    min-height: 64px;
    align-items: center;
    padding-left: $gutter;
    padding-right: $gutter;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
