@import "mixins";
@import "variables";
@import "components/spacing";
@import "components/buttons";
@import "components/forms";

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding-right: $gutter;
    padding-left: $gutter;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: $gutter;
    padding-left: $gutter;
    margin-right: auto;
    margin-left: auto;
}

.box {
    background-color: #ffffff;
    padding: 20px 24px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.bold {
    font-weight: 500;
}

.line-label {
    text-transform: capitalize;
}

.dropdown-item {
    padding: 6px $gutter - 6px;
    color: $primary-color;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    &:focus,
    &:active {
        outline: none;
        color: $second-color;
    }
}

.img {
    max-width: 100%;
    height: auto;
}
