$primary-color: #232f3e;
$second-color: #1976d2;
$second-color-hover: #4796e1;
$second-color-focus: #418acf;
$tone-color: $second-color;
$tone-color-hover: $second-color-hover;
$tone-color-focus: $second-color-focus;
$text-light: #fff;
$gutter: 20px;
$border-radius: 4px;
$open-sans: 'Open Sans', sans-serif;
