<div class="form box">
    <h1 class="form__logo">
        <img src="../assets/logo.png" alt="">
    </h1>

    <form
        (ngSubmit)="register()"
        [formGroup]="registerForm"
    >
        <div class="floating-label"
             [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <input
                formControlName="email"
                [ngClass]="{ 'is-invalid': isSubmitted && formControls.email.errors }"
                placeholder="Email"
                name="email"
                id="email"
                type="email"
                autocomplete="off">

            <label for="email">Email</label>

            <div *ngIf="isSubmitted && formControls.email.errors">
                <div
                    *ngIf="formControls.email.errors.required"
                    class="form__error"
                >Email is required
                </div>

                <div
                    *ngIf="formControls.email.errors.email"
                    class="form__error"
                >Email must be a valid email address
                </div>
            </div>
        </div>

        <div
            class="floating-label"
            [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input
                formControlName="password"
                [ngClass]="{ 'is-invalid': isSubmitted && formControls.password.errors }"
                placeholder="Password" name="password" id="password" type="password"
                autocomplete="off">
            <label for="password">Password</label>

            <div
                class="form__error"
                *ngIf="isSubmitted && formControls.password.errors">
                <ng-container
                    *ngIf="formControls.password.errors.required"
                >Password is required
                </ng-container>

                <ng-container
                    *ngIf="formControls.password.errors.minlength"
                >Password must be at least 6 characters
                </ng-container>
            </div>
        </div>

        <div class="floating-label"
             [ngClass]="{ 'has-error': isSubmitted && formControls.passwordRepeat.errors }">
            <input
                formControlName="passwordRepeat"
                [ngClass]="{ 'is-invalid': isSubmitted && formControls.passwordRepeat.errors }"
                placeholder="Password" name="passwordRepeat" id="passwordRepeat" type="password"
                autocomplete="off">
            <label for="passwordRepeat">Password confirm</label>

            <div
                class="form__error"
                *ngIf="isSubmitted && formControls.passwordRepeat.errors">
                <ng-container
                    *ngIf="formControls.passwordRepeat.errors.required"
                >Confirm Password is required
                </ng-container>

                <ng-container
                    *ngIf="formControls.passwordRepeat.errors.mustMatch"
                >Passwords must match
                </ng-container>
            </div>
        </div>

        <div class="flex mt-20">
            <button class="button">Register</button>

            <a
                [routerLink]="['/login']"
                class="button ml-20"
            >Sign In</a>
        </div>

        <div *ngIf="errorMessage" class="alert alert--danger">
            {{errorMessage}}
        </div>
    </form>
</div>
