.list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        padding: 8px 16px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
            cursor: pointer;
        }
    }
}
