<div class="form box">
    <h1 class="form__logo">
        <img src="../assets/logo.png" alt="">
    </h1>

    <form
        (ngSubmit)="login()"
        [formGroup]="loginForm"
    >
        <div class="floating-label"
             [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
            <input placeholder="Email" name="email" id="email" formControlName="username" type="email"
                   autocomplete="off">
            <label for="email">Nickname</label>
            <div
                *ngIf="isSubmitted && formControls.username.errors"
                class="form__error">
                <ng-container *ngIf="formControls.username.errors.required">Email is required</ng-container>
            </div>
        </div>

        <div class="floating-label"
             [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
            <input placeholder="Password" name="password" id="password" formControlName="password" type="password"
                   autocomplete="off">
            <label for="password">Password</label>

            <div
                *ngIf="isSubmitted && formControls.password.errors"
                class="form__error">
                <ng-container *ngIf="formControls.password.errors.required">Password is required</ng-container>
            </div>
        </div>

        <div class="flex mt-20">
            <button
                class="button"
                type="submit">Login
            </button>

            <a
                [routerLink]="['/register']"
                class="button ml-20"
            >Register</a>
        </div>

        <div *ngIf="errorMessage" class="alert alert--danger">
            {{errorMessage}}
        </div>
    </form>
</div>
