@import "helpers";

*,
::after,
::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    font-size: 16px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.87);
    font-smoothing: antialiased;
    margin: 0;
    font-family: Roboto, sans-serif;
}

svg {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

form {
    width: 100%;
}
